*.com
*.class
*.dll
*.exe
*.o
*.so
Temp/*
Obj/*
Library/*
Build/*
Builds/*
Assets/AssetStoreTools*
MemoryCaptures/*

# Auto Generated #
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.ind
*.rdf
*.hle
test.txt

SavedStruct.txt

*.wdat

*.pdat

Logs/

Draconic Revolution_Data/
MonoBleedingEdge/

server.cfg

ProjectSettings/EditorBuildSettings.asset

Draconic_Revolution_multiplayer.zip

DraconicRevolutionLightUpdate.rar

noise.png

config.cfg

*.iind

*.invf

*.mp3

Assets/StreamingAssets/Audio/

Assets/Scripts/Audio/rainfall.mp3.meta
