*.com
*.class
*.dll
*.exe
*.o
*.so
Temp/*
Obj/*
Library/*
Build/*
Builds/*
Assets/AssetStoreTools*

# Auto Generated #
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.ind
*.rdf
*.hle
test.txt

SavedStruct.txt

*.wdat

*.pdat
