body {
    background-color: #202020;
}

.container {
    height: 100%;
    width: 100%;
}

.header-container {
    position: absolute;
    display: flex;
    margin-top: 4%;
}

.header-container>h1 {
    color: aliceblue;
}

.header-container>input {
    height: auto;
    margin-left: 10px;
}

.worlds-list {
    position: relative;
    margin-top: 10%;
    height: 70%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 2%;
    width: 100%;
    height: 40px;
}

.carousel-controls-btn-icon {
    font-size: 10px;
    text-decoration: none;
    font-style: normal;
}

.carousel-controls>#create-new-world-button {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    gap: 9px;
}

.carousel-controls>#prev-button {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 18px;
    gap: 9px;
}

.carousel-controls>#next-button {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    gap: 9px;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    gap: 45px;
    margin-bottom: 2px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.carousel-item {
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
}

.carousel-item:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
}

.carousel-item .carousel-item-screenshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    object-fit: contain;
    object-position: 0px -60px;
}

.carousel-item .carousel-item-container {
    margin-top: 190px;
    padding: 10px 20px;
}

.carousel-item .carousel-item-container .carousel-item-btn-play {
    position: absolute;
    bottom: 0;
    left: 45px;
    right: 45px;
    bottom: 30px;
    font-size: 21px;
    border-radius: 15px;
    color: #00000077;
    border: 2px #0000004b solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    background: none;
}
