.font {
    -unity-font: resource('USS/sources/fonts/Poppins/Poppins-Regular');
}

.world-button {
    background-color: rgba(102, 102, 102, 0.08);
}

.world-button:hover {
    background-color: rgba(102, 102, 102, 0.71);
}
